footer {
  .layout-3-columns {
    padding: 40px 40px 0;
    justify-content: center;
    gap: 13.25%;

    @include media-tablet {
      padding: 16px 30px 0;
      gap: 8.25%;
    }
    @include media-tablet-mini {
      gap: 30%;
      padding: 12px 5px 0;
      margin: auto;
    }

    .layout-3-rows {
      gap: 37px;
    }
  }
}

.contacts__title,
.locations__title {
  color: $color-light-xl;
}

.wrapper__footer {
  margin: auto;
  max-width: 1200px;

  .contacts {
    width: 300px;
    height: 243px;
    margin-top: 16px;
    max-width: 279px;

    @include media-tablet-mini {
      padding: 0 30px 0;
      height: 233px;
    }

    .contacts__title {
      @include media-tablet-mini {
        text-align: center;
      }
    }

    .contacts__e-mail__img {
      position: relative;
      top: 2px;
    }

    .contacts__e-mail__address {
      position: relative;
      bottom: 7px;
      left: 17px;
      color: $color-primary;
    }

    .contacts__phone__namber {
      position: relative;
      bottom: 9px;
      left: 17px;
      color: $color-primary;
      @include media-tablet-mini {
        left: 22px;
        bottom: 8px;
      }
    }
    .contacts__phone__img {
      @include media-tablet-mini {
        position: relative;
        left: 5px;
      }
    }
  }

  .locations {
    height: 208px;
    margin-top: 16px;
    width: 302px;

    display: flex;
    flex-direction: column;
    gap: 29px;

    @include media-tablet-mini {
      gap: 35px;
    }

    .locations__title {
      @include media-tablet-mini {
        width: 250px;
        margin-left: 25px;
        text-align: center;
      }
    }

    .locations__boston__address {
      display: inline-block;
      width: 255px;
      position: relative;
      top: 3px;
      left: 17px;
      color: $color-primary;
    }
    .locations__london__img {
      position: relative;
      top: 6px;
    }
    .locations__london__address {
      position: relative;
      bottom: 3px;
      left: 17px;
      color: $color-primary;
    }
  }

  .footer-puppy {
    width: 300px;
    height: 310px;

    @include media-tablet {
      margin-top: 54px;
    }

    @include media-tablet-mini {
      background-size: cover;
      width: 260px;
      height: 269px;
      margin-top: 52px;
    }
  }
}
