.not-only {
  background: url(../assets/images/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%), #211f20;
}
.start-screen-puppy {
  background: url(../assets/images/start-screen-puppy.png);
}

.about__photo {
  background: url(../assets/images/about-pets.png);
}

.card__pets-img_katrine {
  background: url(../assets/images/pets-katrine.png);
}

.card__pets-img_jennifer {
  background: url(../assets/images/pets-jennifer.png);
}

.card__pets-img_woody {
  background: url(../assets/images/pets-woody.png);
}

.card__pets-img_sophia {
  background: url(../assets/images/pets-sophia.png);
}

.card__pets-img_timmy {
  background: url(../assets/images/pets-timmy.png);
}

.card__pets-img_charly {
  background: url(../assets/images/pets-charly.png);
}

.card__pets-img_scarlett {
  background: url(../assets/images/pets-scarlett.png);
}

.card__pets-img_freddie {
  background: url(../assets/images/pets-freddie.png);
}

.in-addition__img {
  background: url(../assets/images/donation-dog.png);
}

.footer-puppy {
  background: url(../assets/images/footer-puppy.png);
}
footer {
  background: url(../assets/images/noise_transparent@2x.png),
    radial-gradient(110.67% 538.64% at 5.73% 50%, #513d2f 0%, #1a1a1c 100%),
    #211f20;
}
