@mixin typography(
  $family: $font-main,
  $size: 20px,
  $style: normal,
  $weight: 400,
  $height: 130%,
  $letter-spacing: 0.06em
) {
  margin: 0;
  padding: 0;
  font-family: $family;
  font-size: $size;
  font-style: $style;
  font-weight: $weight;
  line-height: $height;
  letter-spacing: $letter-spacing;
}

@mixin media-desktop-big {
  @media (max-width: $desktop-big-width) {
    @content;
  }
}

@mixin media-desktop {
  @media (max-width: $desktop-width) {
    @content;
  }
}

@mixin media-tablet {
  @media (max-width: $tablet-width) {
    @content;
  }
}

@mixin media-tablet-s {
  @media (max-width: $tablet-s-width) {
    @content;
  }
}

@mixin media-tablet-mini {
  @media (max-width: $tablet-mini-width) {
    @content;
  }
}

@mixin media-mobile-big {
  @media (max-width: $mobile-big-width) {
    @content;
  }
}

@mixin media-mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}
