$color-light-xl: #ffffff;
$color-light-l: #f6f6f6;
$color-light-s: #fafafa;
$color-dark-s: #cdcdcd;
$color-dark-m: #b2b2b2;
$color-dark-l: #545454;
$color-dark-xl: #4c4c4c;
$color-dark-2xl: #444444;
$color-dark-3xl: #292929;
$color-primary: #f1cdb3;
$color-primary-light: #fddcc4;

$font-main: Georgia, "Century Schoolbook L", serif;
$font-additional: Arial, "Helvetica CY", "Nimbus Sans L", sans-serif;

/*$desktop-big-width: 1278px;
$desktop-width: 1200px;
$tablet-width: 768px;
$tablet-s-width: 763px;
$tablet-mini-width: 720px;
$mobile-big-width: 440px;
$mobile-width: 320px; */

$desktop-big-width: 1279px;
$desktop-width: 1279px;
$tablet-width: 1279px;
$tablet-s-width: 767px;
$tablet-mini-width: 767px;
$mobile-big-width: 767px;
$mobile-width: 767px;
