// For all pages

.background-overlay_appear {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(41, 41, 41, 0.6);
  overflow: hidden;
  z-index: 2;
  cursor: pointer;
}

.burger-overlay_hide {
  left: 100%;
}

.burger-overlay_appear {
  right: 0;
}

//for main

.main {
  .burger-overlay_wrapper {
    position: absolute;
    right: 0;
    width: 320px;
    height: 100vh;
    overflow: hidden;
  }

  .burger-overlay {
    position: absolute;
    width: 320px;
    height: 100vh;
    background: $color-dark-3xl;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    cursor: auto;

    .logo {
      position: absolute;
      top: 30px;
      left: 10px;
      .logo__subtitle {
        color: $color-light-xl;
        position: relative;
        top: 10px;
        left: 4px;
      }

      .logo__title {
        color: $color-primary;
      }
    }
    .navigation {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 0;
      text-align: center;
      > * {
        display: inline-block;
      }
      .navigation__li_active {
        color: $color-light-s;
        border-bottom: 3px solid $color-primary;
        padding-bottom: 4px;
      }
      .navigation__li {
        color: $color-dark-s;
        &:hover {
          color: $color-light-s;
        }
      }
    }
  }
}

// for pets

.BG-pets {
  .burger-overlay_wrapper {
    position: absolute;
    right: 0;
    width: 320px;
    height: 100vh;
    overflow: hidden;
  }

  .burger-overlay {
    position: absolute;
    width: 320px;
    height: 100vh;
    background: $color-light-s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 3;
    cursor: auto;

    .logo {
      position: absolute;
      top: 30px;
      left: 10px;
      .logo__subtitle {
        color: $color-dark-l;
        position: relative;
        top: 10px;
        left: 4px;
      }

      .logo__title {
        color: $color-dark-3xl;
      }
    }
    .navigation {
      display: flex;
      flex-direction: column;
      gap: 40px;
      padding: 0;
      text-align: center;
      > * {
        display: inline-block;
      }
      .navigation__li_active {
        color: $color-dark-3xl;
        border-bottom: 3px solid $color-primary;
        padding-bottom: 4px;
      }
      .navigation__li {
        color: $color-dark-l;
        &:hover {
          color: $color-dark-3xl;
        }
      }
    }
  }
}
